// barra blu
.blue-bar {
    height: 40px;
    background-color: dodgerblue;
    position: relative;

    figure {
        position: absolute;
        top: 0;
        left: 10px;
        transform: translateY(-70%)
    }
}


// contenitore della pagina-dettaglio
#comic-detail {
    max-width: 1080px;
    margin: 0 auto;
}